<mat-card>
    <mat-card-header>
        <mat-card-title>Créer un contrat</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="container" [formGroup]="contratForm" (ngSubmit)="onSubmit()" layout="column">
            <div>

                <mat-form-field appearance="fill" *ngIf="salarieContrat">
                    <mat-label>SALARIE</mat-label>
                    <mat-select formControlName="salarieSelect" [(ngModel)]="selectedValue">
                        <mat-option *ngFor="let item of salarieContrat" [value]="item.salarie_id">
                            {{item.nom}} {{item.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
<p>{{selectedValue}}</p>
            </div>

            <div>

                <mat-radio-group aria-label="Select an option" formControlName="type_contrat">
                    <mat-radio-button value="1">CDI</mat-radio-button>
                    <mat-radio-button value="2">CDD</mat-radio-button>
                </mat-radio-group>

            </div>
            <div>
                <mat-radio-group aria-label="Select an option" formControlName="duree">
                    <mat-radio-button value="1">Temps plein</mat-radio-button>
                    <mat-radio-button value="2">Temps partiel</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <mat-form-field appearance="outline" class=" form-element">
                    <mat-label>
                        Date début
                    </mat-label>
                    <input matInput type="date" formControlName="date_debut">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class=" form-element">
                    <mat-label>
                        Date fin
                    </mat-label>
                    <input matInput type="date" formControlName="date_fin">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class=" form-element">
                    <mat-label>
                        Periode essai
                    </mat-label>
                    <input matInput type="date" formControlName="periode">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class=" form-element">
                    <mat-label>
                        Rémunération
                    </mat-label>
                    <input matInput formControlName="remuneration">
                </mat-form-field>
            </div>
            <div>

                <mat-radio-group aria-label="Select an option" formControlName="motif">
                    <mat-radio-button value="1">Remplacement</mat-radio-button>
                    <mat-radio-button value="2">Surcroit</mat-radio-button>
                </mat-radio-group>

            </div>

            <div class="button">
                <span>
                    <button mat-raised-button [disabled]="contratForm.invalid" color="primary"
                        type="submit">Valider</button>
                </span>
            </div>


        </form>
    </mat-card-content>

</mat-card>
