<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" (click)="opened=!opened">
                <mat-icon>menu</mat-icon>
            </button>
            <span>EASY CONTRACT</span>
            
            <span class="example-spacer"></span>

            <button mat-button (click)="onDisconect()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>



<mat-drawer-container class="sidenav-container">
    <mat-drawer [(opened)]="opened" mode="side">
        <mat-nav-list>

            <a mat-list-item routerLink="/overview_s/profil" routerLinkActive="active" color="primary">
                <mat-icon color="primary">account_circle</mat-icon>Mon profile
            </a>
            <a mat-list-item routerLink="/overview/chat" routerLinkActive="active">
                <mat-icon color="primary">chat</mat-icon>Gérer mes contrats
            </a>


        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="w-100">
        <section>
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
