.profile
{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contain{
  display: flex;
  justify-content: start
}
.button{
  display: flex;
  justify-content:space-around;
}

mat-form-field{
  width:200px;
}
input:disabled{
  color:black;

}
button{
  width:200px;
}
