<p>profile-salarie works!</p>
<section class="profile" *ngIf="myProfil">

    <div class="contain">
      <h1>Profile</h1>
    </div>


      <div class="contain">

        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              Civilité
            </mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput [value]="myProfil[0].civilite" disabled="disabled">
          </mat-form-field>


        </div>

        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              Nom
            </mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput [value]="myProfil[0].nom" disabled="disabled">
          </mat-form-field>

        </div>
        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              Prénom
            </mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput [value]="myProfil[0].prenom" disabled="disabled">
          </mat-form-field>

        </div>
      </div>


      <div class="contain">
        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              Rue
            </mat-label>

            <input matInput [value]=" myProfil[0].rue" disabled="disabled">
          </mat-form-field>

        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>
              Code postal
            </mat-label>

            <input matInput [value]=" myProfil[0].cp" disabled="disabled">
          </mat-form-field>

        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>
              Ville
            </mat-label>

            <input matInput [value]="myProfil[0].ville" disabled="disabled">
          </mat-form-field>

        </div>
      </div>
      <div class="contain">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>
              Pays
            </mat-label>
            <input matInput [value]="myProfil[0].pays" disabled="disabled">
          </mat-form-field>

        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>
              Email
            </mat-label>
            <mat-icon matPrefix>local_post_office</mat-icon>
            <input matInput [value]="myProfil[0].email" disabled="disabled">
          </mat-form-field>

        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>
              Téléphone
            </mat-label>
            <mat-icon matPrefix>phone</mat-icon>
            <input matInput [value]="myProfil[0].telephone" disabled="disabled">
          </mat-form-field>

        </div>
      </div>

      <div class="contain">
        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              Siret
            </mat-label>
            <input matInput [value]="myProfil[0].siret" disabled="disabled">
          </mat-form-field>

        </div>

        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              Raison sociale
            </mat-label>
            <input matInput [value]="myProfil[0].raison_sociale" disabled="disabled">
          </mat-form-field>


        </div>
        <div>
          <mat-form-field appearance="outline" >
            <mat-label>
              code_ape
            </mat-label>

            <input matInput [value]="myProfil[0].code_ape" disabled="disabled">
          </mat-form-field>

        </div>
      </div>


      <div class="button">

        <button mat-raised-button color="primary" type="submit" (click)="openDialog()">Modifier</button>

      </div>

  </section>
