
<section class="main-container">
  <div>
    <p>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
        </mat-toolbar-row>
      </mat-toolbar>
    </p>
    </div>
<div class="card">
      <mat-card>
        <mat-card-content>
          <H1>Easy Contract</H1>
          <mat-divider></mat-divider>
          <div class="button">
            <button mat-raised-button color="primary" routerLink="/entreprise/login">Entreprise</button>
            <button mat-raised-button color="primary" routerLink="/salarie/login">Salarié</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


<div class="">


  </div>


</section>
